---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-5 lg:row-span-5" title="About Me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
    <div class="flex flex-col mt-1"></div>
      <p>
        Ciao, I'm Kaicheng. 🌈
        <br />
        I have experience/knowledge in
      </p>
      <ul class="list-disc list-inside">
        <li><span class="text-primary-100">Front-end</span>: React, Node.js, UnoCSS, Tailwind</li>
        <li><span class="text-primary-100">Back-end</span>: Gin, Gorm, SQL, Reddis, Docker</li>
        <li><span class="text-primary-100">Mobile</span>: React Native, Jetpack Compose</li>
        <li><span class="text-primary-100">Machine Learning</span>: PyTorch, CNN, GNN</li>
        <li><span class="text-primary-100">LLM</span>: Prompt Engineering, Applications (eg. Text2SQL)</li>
        <li><span class="text-primary-100">Systems</span>: Operating System, Database, CPU, GPU, Computer Architecture</li>
        <li><span class="text-primary-100">Distributed</span>: Raft/Paxos</li>
        <li><span class="text-primary-100">Games</span>: Unity3D, Computer Graphics, OpenGL</li>
        <li><span class="text-primary-100">Languages</span>: C++, Python, Java, JavaScript, Go, Kotlin</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      I'm also a fast learner, always eager to learn new technologies and looking for new challenges.
    </p>
    <p class="text-sm font-light">
      Apart from coding and studying, I'm also passionate about games (PC, Console and tabletop), design, food, baking and traveling. I love Death Stranding.
    </p>
    </div>
  </div>
</Card>
